USE [master]
GO
/****** Object:  Database [UDIT]    Script Date: 15/07/2026 1:59:55 p. m. ******/
CREATE DATABASE [UDIT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UDIT', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL15.DITSQL\MSSQL\Data\UDIT.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UDIT_log', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL15.DITSQL\MSSQL\Data\UDIT_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UDIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UDIT]
GO
/****** Object:  User [UDIT]    Script Date: 15/07/2026 1:59:56 p. m. ******/
CREATE USER [UDIT] FOR LOGIN [UDIT] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Empaquetamiento]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empaquetamiento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Empaquetamiento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoProyectos]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoProyectos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoProyectos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosSalidas]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosSalidas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstadosSalidas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngresoInsumos]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngresoInsumos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[id_insumo] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[id_tipo_compra] [int] NOT NULL,
	[idProyecto] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[PrecioUnit] [float] NOT NULL,
	[idInsumoTabla] [int] NULL,
 CONSTRAINT [PK_IngresoInsumos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](max) NULL,
	[id_nombreInsumo] [int] NOT NULL,
	[cod_fabrica] [varchar](max) NOT NULL,
	[valor] [varchar](max) NULL,
	[id_empaquetamiento] [int] NOT NULL,
	[descripcion] [varchar](max) NULL,
	[id_ubicacion] [int] NOT NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_Insumo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NombreInsumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NombreInsumo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreInsumo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NombreInsumo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Cargo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Contacto] [nvarchar](100) NULL,
	[Direccion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyectos]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyectos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](255) NULL,
	[idEstado] [int] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalidaInsumos]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalidaInsumos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_insumo] [int] NULL,
	[descripcion] [varchar](50) NOT NULL,
	[id_proyecto] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[cantidad] [int] NULL,
	[idInsumoTabla] [int] NULL,
 CONSTRAINT [PK_SalidaInsumos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoCompra]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoCompra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoCompra] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ubicacion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ubicacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Insumo] ADD  CONSTRAINT [DF_Insumo_cantidad]  DEFAULT ((0)) FOR [cantidad]
GO
ALTER TABLE [dbo].[IngresoInsumos]  WITH CHECK ADD  CONSTRAINT [FK_IngresoInsumos_Proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedor] ([Id])
GO
ALTER TABLE [dbo].[IngresoInsumos] CHECK CONSTRAINT [FK_IngresoInsumos_Proveedor]
GO
ALTER TABLE [dbo].[IngresoInsumos]  WITH CHECK ADD  CONSTRAINT [FK_IngresoInsumos_Proyectos] FOREIGN KEY([idProyecto])
REFERENCES [dbo].[Proyectos] ([Id])
GO
ALTER TABLE [dbo].[IngresoInsumos] CHECK CONSTRAINT [FK_IngresoInsumos_Proyectos]
GO
ALTER TABLE [dbo].[IngresoInsumos]  WITH CHECK ADD  CONSTRAINT [FK_IngresoInsumos_TipoCompra] FOREIGN KEY([id_tipo_compra])
REFERENCES [dbo].[TipoCompra] ([id])
GO
ALTER TABLE [dbo].[IngresoInsumos] CHECK CONSTRAINT [FK_IngresoInsumos_TipoCompra]
GO
ALTER TABLE [dbo].[Proyectos]  WITH CHECK ADD  CONSTRAINT [FK_Proyectos_EstadoProyectos] FOREIGN KEY([idEstado])
REFERENCES [dbo].[EstadoProyectos] ([id])
GO
ALTER TABLE [dbo].[Proyectos] CHECK CONSTRAINT [FK_Proyectos_EstadoProyectos]
GO
ALTER TABLE [dbo].[SalidaInsumos]  WITH CHECK ADD  CONSTRAINT [FK_SalidaInsumos_Proyectos] FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[Proyectos] ([Id])
GO
ALTER TABLE [dbo].[SalidaInsumos] CHECK CONSTRAINT [FK_SalidaInsumos_Proyectos]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEmpaquetamiento]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarEmpaquetamiento]
    @Id INT,
    @Tipo NVARCHAR(100)  -- Reemplaza el tamaño según tu requerimiento
AS
BEGIN
    UPDATE [UDIT].[dbo].[Empaquetamiento]
    SET [tipo] = @Tipo
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEstadoProyecto]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarEstadoProyecto]
    @Id INT,
    @Estado NVARCHAR(100)  -- Reemplaza el tamaño según tu requerimiento
AS
BEGIN
    UPDATE [UDIT].[dbo].[EstadoProyectos]
    SET [estado] = @Estado
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEstadoSalida]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarEstadoSalida]
    @Id INT,
    @Nombre NVARCHAR(100)  -- Reemplaza el tamaño según tu requerimiento
AS
BEGIN
    UPDATE [UDIT].[dbo].[EstadosSalidas]
    SET [nombre] = @Nombre
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarIngresoInsumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarIngresoInsumo]
    @Id INT,
    @IdProveedor INT,
    @IdInsumo INT,
    @Cantidad INT,
    @IdTipoCompra INT,
    @IdProyecto INT,
    @Fecha DATETIME,
    @PrecioUnit DECIMAL(18, 2),
	@idInsumoTabla INT
AS
BEGIN
    UPDATE [UDIT].[dbo].[IngresoInsumos]
    SET [id_proveedor] = @IdProveedor, [id_insumo] = @IdInsumo, [cantidad] = @Cantidad, [id_tipo_compra] = @IdTipoCompra, [idProyecto] = @IdProyecto, [Fecha] = @Fecha, [PrecioUnit] = @PrecioUnit, [idInsumoTabla] = @idInsumoTabla
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarInsumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarInsumo]
    @Id INT,
    @Nombre NVARCHAR(255),
    @IdNombreInsumo INT,
    @CodFabrica NVARCHAR(50),
    @Valor NVARCHAR(50),
    @IdEmpaquetamiento INT,
    @Descripcion NVARCHAR(500),
    @IdUbicacion INT
AS
BEGIN
    UPDATE [UDIT].[dbo].[Insumo]
    SET [nombre] = @Nombre, [id_nombreInsumo] = @IdNombreInsumo, [cod_fabrica] = @CodFabrica, [valor] = @Valor, [id_empaquetamiento] = @IdEmpaquetamiento, [descripcion] = @Descripcion, [id_ubicacion] = @IdUbicacion
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarNombreInsumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarNombreInsumo]
    @Id INT,
    @NombreInsumo NVARCHAR(100)  -- Reemplaza el tamaño según tu requerimiento
AS
BEGIN
    UPDATE [UDIT].[dbo].[NombreInsumo]
    SET [nombreInsumo] = @NombreInsumo
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarPersonal]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarPersonal]
    @Id INT,
    @Nombre NVARCHAR(100),
    @Cargo NVARCHAR(100)
AS
BEGIN
    UPDATE Personal
    SET Nombre = @Nombre,
        Cargo = @Cargo
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarProveedor]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarProveedor]
    @Id INT,
    @Nombre NVARCHAR(100),
    @Contacto NVARCHAR(100),
    @Direccion NVARCHAR(255)
AS
BEGIN
    UPDATE Proveedor
    SET Nombre = @Nombre,
        Contacto = @Contacto,
        Direccion = @Direccion
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarProyecto]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarProyecto]
    @Id INT,
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(255)
AS
BEGIN
    UPDATE Proyectos
    SET Nombre = @Nombre,
        Descripcion = @Descripcion
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarSalidaInsumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarSalidaInsumo]
    @Id INT,
	@IdInsumo INT,
    @Descripcion NVARCHAR(255),
    @IdProyecto INT,
    @IdEstado INT,
    @Fecha DATETIME,
	@Cantidad INT,
	@idInsumoTabla INT
AS
BEGIN
    UPDATE [UDIT].[dbo].[SalidaInsumos]
    SET [id_insumo] = @IdInsumo, [descripcion] = @Descripcion, [id_proyecto] = @IdProyecto, [id_estado] = @IdEstado, 
	[fecha] = @Fecha, [cantidad] = @Cantidad, [idInsumoTabla] = @idInsumoTabla
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarTipoCompra]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarTipoCompra]
    @Id INT,
    @Nombre NVARCHAR(100)  -- Reemplaza el tamaño según tu requerimiento
AS
BEGIN
    UPDATE [UDIT].[dbo].[TipoCompra]
    SET [nombre] = @Nombre
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUbicacion]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarUbicacion]
    @Id INT,
    @Ubicacion NVARCHAR(100)  -- Reemplaza el tamaño según tu requerimiento
AS
BEGIN
    UPDATE [UDIT].[dbo].[Ubicacion]
    SET [ubicacion] = @Ubicacion
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarEmpaquetamiento]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarEmpaquetamiento]
    @Tipo NVARCHAR(100)  -- Reemplaza el tamaño según tu requerimiento
AS
BEGIN
    INSERT INTO [UDIT].[dbo].[Empaquetamiento] ([tipo]) VALUES (@Tipo)
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarEstadoProyecto]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarEstadoProyecto]
    @Estado NVARCHAR(100)  -- Reemplaza el tamaño según tu requerimiento
AS
BEGIN
    INSERT INTO [UDIT].[dbo].[EstadoProyectos] ([estado]) VALUES (@Estado)
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarEstadoSalida]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarEstadoSalida]
    @Nombre NVARCHAR(100)  -- Reemplaza el tamaño según tu requerimiento
AS
BEGIN
    INSERT INTO [UDIT].[dbo].[EstadosSalidas] ([nombre]) VALUES (@Nombre)
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarIngresoInsumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarIngresoInsumo]
    @IdProveedor INT,
    @IdInsumo INT,
    @Cantidad INT,
    @IdTipoCompra INT,
    @IdProyecto INT,
    @Fecha DATETIME,
    @PrecioUnit DECIMAL(18, 2),
    @idInsumoTabla INT
AS
BEGIN
    BEGIN TRY
        INSERT INTO [UDIT].[dbo].[IngresoInsumos] ([id_proveedor], [id_insumo], [cantidad], [id_tipo_compra], [idProyecto], [Fecha], [PrecioUnit],[idInsumoTabla])
        VALUES (@IdProveedor, @IdInsumo, @Cantidad, @IdTipoCompra, @IdProyecto, @Fecha, @PrecioUnit, @idInsumoTabla);

        DECLARE @nuevoID INT;
        SET @nuevoID = SCOPE_IDENTITY();

        DECLARE @cantidadSalida INT;
        SET @cantidadSalida = ISNULL((SELECT cantidad FROM IngresoInsumos WHERE id = @idInsumoTabla), 0);

        --UPDATE Insumo
        --SET cantidad = (SELECT @Cantidad + @cantidadSalida)
        --WHERE id = @idInsumoTabla;

		UPDATE Insumo
		SET cantidad = (
			SELECT SUM(cantidad)
			FROM Insumo
			WHERE id = @idInsumoTabla
		) + @Cantidad
		WHERE id = @idInsumoTabla;

    END TRY
    BEGIN CATCH
        -- Manejo de errores
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[AgregarInsumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarInsumo]
    @Nombre NVARCHAR(255),
    @IdNombreInsumo INT,
    @CodFabrica NVARCHAR(50),
    @Valor NVARCHAR(50),
    @IdEmpaquetamiento INT,
    @Descripcion NVARCHAR(500),
    @IdUbicacion INT
AS
BEGIN
    INSERT INTO [UDIT].[dbo].[Insumo] ([nombre], [id_nombreInsumo], [cod_fabrica], [valor], [id_empaquetamiento], [descripcion], [id_ubicacion])
    VALUES (@Nombre, @IdNombreInsumo, @CodFabrica, @Valor, @IdEmpaquetamiento, @Descripcion, @IdUbicacion)
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarNombreInsumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarNombreInsumo]
    @NombreInsumo NVARCHAR(100)  -- Reemplaza el tamaño según tu requerimiento
AS
BEGIN
    INSERT INTO [UDIT].[dbo].[NombreInsumo] ([nombreInsumo]) VALUES (@NombreInsumo)
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarPersonal]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarPersonal]
    @Nombre NVARCHAR(100),
    @Cargo NVARCHAR(100)
AS
BEGIN
    INSERT INTO Personal (Nombre, Cargo)
    VALUES (@Nombre, @Cargo);
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarProveedor]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarProveedor]
    @Nombre NVARCHAR(100),
    @Contacto NVARCHAR(100),
    @Direccion NVARCHAR(255)
AS
BEGIN
    INSERT INTO Proveedor (Nombre, Contacto, Direccion)
    VALUES (@Nombre, @Contacto, @Direccion);
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarSalidaInsumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarSalidaInsumo]
	@IdInsumo INT,
    @Descripcion NVARCHAR(255),
    @IdProyecto INT,
    @IdEstado INT,
    @Fecha DATETIME,
	@Cantidad INT,
	@idInsumoTabla INT
AS
BEGIN
	 BEGIN TRY
       INSERT INTO [UDIT].[dbo].[SalidaInsumos] ([id_insumo], [descripcion], [id_proyecto], [id_estado], [fecha], [cantidad], [idInsumoTabla])
       VALUES (@IdInsumo, @Descripcion, @IdProyecto, @IdEstado, @Fecha, @Cantidad, @idInsumoTabla)

        DECLARE @nuevoID INT;
        SET @nuevoID = SCOPE_IDENTITY();

        DECLARE @cantidadSalida INT;
        SET @cantidadSalida = ISNULL((SELECT cantidad FROM SalidaInsumos WHERE id = @idInsumoTabla), 0);

        --UPDATE Insumo
        --SET cantidad = (SELECT @cantidadSalida - @Cantidad)
        --WHERE id = @idInsumoTabla;

		UPDATE Insumo
		SET cantidad = (
			SELECT SUM(cantidad)
			FROM Insumo
			WHERE id = @idInsumoTabla
		) - @Cantidad
		WHERE id = @idInsumoTabla;

    END TRY
    BEGIN CATCH
        -- Manejo de errores
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarTipoCompra]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarTipoCompra]
    @Nombre NVARCHAR(100)  -- Reemplaza el tamaño según tu requerimiento
AS
BEGIN
    INSERT INTO [UDIT].[dbo].[TipoCompra] ([nombre]) VALUES (@Nombre)
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarUbicacion]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarUbicacion]
    @Ubicacion NVARCHAR(100)  -- Reemplaza el tamaño según tu requerimiento
AS
BEGIN
    INSERT INTO [UDIT].[dbo].[Ubicacion] ([ubicacion]) VALUES (@Ubicacion)
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarEmpaquetamiento]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarEmpaquetamiento]
    @Id INT
AS
BEGIN
    DELETE FROM [UDIT].[dbo].[Empaquetamiento]
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarEstadoProyecto]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarEstadoProyecto]
    @Id INT
AS
BEGIN
    DELETE FROM [UDIT].[dbo].[EstadoProyectos]
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarEstadoSalida]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarEstadoSalida]
    @Id INT
AS
BEGIN
    DELETE FROM [UDIT].[dbo].[EstadosSalidas]
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarIngresoInsumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarIngresoInsumo]
    @Id INT
AS
BEGIN
    DELETE FROM [UDIT].[dbo].[IngresoInsumos]
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarInsumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarInsumo]
    @Id INT
AS
BEGIN
    DELETE FROM [UDIT].[dbo].[Insumo]
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarNombreInsumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarNombreInsumo]
    @Id INT
AS
BEGIN
    DELETE FROM [UDIT].[dbo].[NombreInsumo]
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarPersonal]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarPersonal]
    @Id INT
AS
BEGIN
    DELETE FROM Personal
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarProveedor]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarProveedor]
    @Id INT
AS
BEGIN
    DELETE FROM Proveedor
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarProyecto]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarProyecto]
    @Id INT
AS
BEGIN
    DELETE FROM Proyectos
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarSalidaInsumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarSalidaInsumo]
    @Id INT
AS
BEGIN
    DELETE FROM [UDIT].[dbo].[SalidaInsumos]
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarTipoCompra]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarTipoCompra]
    @Id INT
AS
BEGIN
    DELETE FROM [UDIT].[dbo].[TipoCompra]
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarUbicacion]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarUbicacion]
    @Id INT
AS
BEGIN
    DELETE FROM [UDIT].[dbo].[Ubicacion]
    WHERE [id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarProyecto]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarProyecto]
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(255),
	@idEstado integer,
	@fecha DateTime
AS
BEGIN
    INSERT INTO Proyectos (Nombre, Descripcion, idEstado, FechaCreacion)
    VALUES (@Nombre, @Descripcion,@idEstado,@fecha);
END;

GO
/****** Object:  StoredProcedure [dbo].[ObtenerEmpaquetamientos]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerEmpaquetamientos]
AS
BEGIN
    SELECT TOP (1000) [id], [tipo] FROM [UDIT].[dbo].[Empaquetamiento]
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEstadosProyecto]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerEstadosProyecto]
AS
BEGIN
    SELECT TOP (1000) [id], [estado] FROM [UDIT].[dbo].[EstadoProyectos]
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEstadosSalida]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerEstadosSalida]
AS
BEGIN
    SELECT TOP (1000) [id], [nombre] FROM [UDIT].[dbo].[EstadosSalidas]
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerIngresoInsumos]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerIngresoInsumos]
AS
BEGIN
    SELECT A.id, A.id_proveedor,B.Nombre as 'NombreProveedor', A.id_insumo,C.nombreInsumo as 'NombreInsumo', A.cantidad, A.id_tipo_compra,D.nombre as 'NombreTipoCompra', 
	A.idProyecto, E.Nombre as 'NombreProyecto', A.Fecha, A.PrecioUnit, 
	CASE
		WHEN (A.cantidad - (select cantidad from SalidaInsumos where id = A.id)) is not null then (A.cantidad - (select cantidad from SalidaInsumos where id = A.id))
		else A.cantidad
	END as 'Restante', A.idInsumoTabla
	FROM [UDIT].[dbo].[IngresoInsumos] as A
	join Proveedor as B on A.id_proveedor = B.Id
	join NombreInsumo as C on A.id_insumo = C.id
	join TipoCompra as D on A.id_tipo_compra = D.id
	join Proyectos as E on A.idProyecto = E.Id;

	select * from Proveedor;
	select * from NombreInsumo;
	select * from TipoCompra;
	select * from Proyectos;
	select a.id,b.nombreInsumo as Tipo ,(a.cod_fabrica+'-'+a.descripcion) as 'Codigo' from insumo as a join NombreInsumo as b on a.id_nombreInsumo = b.id
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerInsumos]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerInsumos]
AS
BEGIN
    SELECT  A.id, B.nombreInsumo, A.id_nombreInsumo, A.cod_fabrica, A.valor, A.id_empaquetamiento, C.tipo, A.descripcion, A.id_ubicacion,D.ubicacion, A.cantidad FROM Insumo as A
	join  NombreInsumo as B on A.id_nombreInsumo = B.id
	join Empaquetamiento as C on A.id_empaquetamiento = C.id
	join Ubicacion as D on A.id_ubicacion = D.id;

	Select * from Ubicacion;
	select * from NombreInsumo;
	select * from Empaquetamiento



END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerNombresInsumo]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerNombresInsumo]
AS
BEGIN
    SELECT TOP (1000) [id], [nombreInsumo] FROM [UDIT].[dbo].[NombreInsumo]
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPersonal]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPersonal]
AS
BEGIN
    SELECT * FROM Personal;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProveedores]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerProveedores]
AS
BEGIN
    SELECT * FROM Proveedor;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProyectos]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerProyectos]
AS
BEGIN
    SELECT A.*, B.estado as 'NombreEstado' FROM Proyectos as A
	join EstadoProyectos as B on A.idEstado =  B.id;

	select * from EstadoProyectos;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerSalidasInsumos]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerSalidasInsumos]
AS
BEGIN
    SELECT  A.id, A.id_insumo, D.nombreInsumo as 'NombreInsumo', A.descripcion, A.id_proyecto, B.Nombre as 'NombreProyecto', A.id_estado,C.nombre as 'NombreEstado', A.fecha, A.cantidad, A.idInsumoTabla FROM [UDIT].[dbo].[SalidaInsumos] as A
	join Proyectos as B on A.id_proyecto = B.Id
	join EstadosSalidas as C on A.id_estado = C.id
	join NombreInsumo as D on A.id_insumo = D.id;

	select * from Proyectos;
	select * from NombreInsumo;
	select * from EstadosSalidas;
	select a.id,b.nombreInsumo as Tipo ,(a.cod_fabrica+'-'+a.descripcion) as 'Codigo' from insumo as a join NombreInsumo as b on a.id_nombreInsumo = b.id
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTiposCompra]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTiposCompra]
AS
BEGIN
    SELECT TOP (1000) [id], [nombre] FROM [UDIT].[dbo].[TipoCompra]
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUbicaciones]    Script Date: 15/07/2026 1:59:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUbicaciones]
AS
BEGIN
    SELECT [id], [ubicacion] FROM [UDIT].[dbo].[Ubicacion]
END

GO
USE [master]
GO
