<h2 mat-dialog-title>
  @if(this.data.estado == 1) { Crear Proveedor }
  @else { Editar Proveedor }
</h2>

<form [formGroup]="form">
    <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Contacto</mat-label>
        <input matInput formControlName="contacto">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Direcci&oacute;n</mat-label>
        <input matInput formControlName="direccion">
    </mat-form-field>

    <div mat-dialog-actions>
        @if(this.data.estado == 1){
            <button (click)="guardarProveedores()" mat-raised-button color="accent">Agregar</button>
        }
        @else()
        {
            <button (click)="actualizarProveedores()" mat-raised-button color="accent">Editar</button>
        }
        <button (click)="cerrarPopup()" mat-raised-button color="warn">Cerrar</button>
    </div>

</form>