<h2 mat-dialog-title>
  @if(this.data.estado == 1) { Crear Estado Proyecto }
  @else { Editar Estado Proyecto }
</h2>

<form [formGroup]="form">
    <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
    </mat-form-field>


    <div mat-dialog-actions>
        @if(this.data.estado == 1){
            <button (click)="guardarEstadoProyecto()" mat-raised-button color="accent">Agregar</button>
        }
        @else()
        {
            <button (click)="actualizarEstadoProyecto()" mat-raised-button color="accent">Editar</button>
        }
        <button (click)="cerrarPopup()" mat-raised-button color="warn">Cerrar</button>
    </div>

</form>