<form [formGroup]="form">
    <mat-form-field>
        <mat-label>Insumo</mat-label>
        <mat-select formControlName="idInsumo">
            @for (insumo of insumos; track insumo) {
                <mat-option [value]="insumo.id">{{insumo.nombre}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Cantidad</mat-label>
        <input matInput formControlName="cantidad" type="number">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Proveedor</mat-label>
        <mat-select formControlName="idProveedor">
            @for (prov of proveedores; track prov) {
                <mat-option [value]="prov.id">{{prov.nombre}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Tipo Compra</mat-label>
        <mat-select formControlName="idTipoCompra">
            @for (tc of tipocompras; track tc) {
                <mat-option [value]="tc.id">{{tc.nombre}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Proyecto</mat-label>
        <mat-select formControlName="idProyecto">
            @for (proy of proyectos; track proy) {
                <mat-option [value]="proy.id">{{proy.nombre}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="pickerInicio" formControlName="fecha">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
        <mat-datepicker #pickerInicio></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Precio Unitario</mat-label>
        <input matInput formControlName="precioUnitario" type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Observación</mat-label>
        <input matInput formControlName="observacion">
    </mat-form-field>

    <div mat-dialog-actions>
        @if(this.data.estado == 1){
            <button (click)="guardarIngresoInsumo()" mat-raised-button color="accent">Agregar</button>
        }
        @else()
        {
            <button (click)="actualizarIngresoInsumo()" mat-raised-button color="accent">Editar</button>
        }
        <button (click)="cerrarPopup()" mat-raised-button color="warn">Cerrar</button>
    </div>
</form>